<app-admin-navbar></app-admin-navbar>

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<title>Bootstrap Sign up Form with Icons</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>













<body>

	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center mb-5"><u>Product Form</u></h2>
				<h6 align="center">Fill the details to add a product</h6>
				<div class="row">
					<div class="col-md-6  mx-auto">
						<div class="card border-secondary">

							<div class="container">

								<br>
								<br>
								<form [formGroup]="addProduct" (ngSubmit)="saveproduct()" class="form" role="form"
									autocomplete="off">


									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Name</label>
										<input type="text" class="form-control" formControlName="name" id="pname"
											required [(ngModel)]="product.productName" name="pname"
											placeholder="Product Name *">
										<div *ngIf=" Submitted && addProduct.controls.name.errors"><code
												style="color: red;">Give Product Name</code></div>


									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Price</label>
										<input type="text" class="form-control" formControlName="price" id="price"
											required [(ngModel)]="product.price" name="price"
											placeholder="Product Price *">
										<div *ngIf=" Submitted && addProduct.controls.price.errors"><code
												style="color: red;">Give Product Price</code></div>
									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Color</label>
										<select input type="text" class="form-control" formControlName="color"
											id="color" required [(ngModel)]="product.color" name="color"
											placeholder="Product Color *">
											<option value="color" disabled>Color *</option>
											<option *ngFor="let c of color" [value]="c">{{c}}</option>
										</select>
										<div *ngIf=" Submitted && addProduct.controls.color.errors"><code
												style="color: red;">Give Product Color</code></div>

									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Dimension</label>
										<input type="text" class="form-control" formControlName="dimension"
											id="dimension" required [(ngModel)]="product.dimension" name="dimension"
											placeholder="Product Dimension *">
										<div *ngIf=" Submitted && addProduct.controls.dimension.errors"><code
												style="color: red;">Give Product Dimension</code></div>
									</div>


									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Manufacturer</label>
										<input type="text" class="form-control" formControlName="manufacturer"
											id="manufacturer" required [(ngModel)]="product.manufacturer"
											name="manufacturer" placeholder="Product Manufacturer *">
										<div *ngIf=" Submitted && addProduct.controls.manufacturer.errors"><code
												style="color: red;">Give Product Manufacturer</code></div>
									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Specification</label>
										<input type="text" class="form-control" formControlName="specification"
											id="specification" required [(ngModel)]="product.specification"
											name="specification" placeholder="Product Specification *">
										<div *ngIf=" Submitted && addProduct.controls.specification.errors"><code
												style="color: red;">Give Product Specification</code></div>
									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Quantity</label>
										<input type="text" class="form-control" formControlName="quantity" id="quantity"
											required [(ngModel)]="product.quantity" name="quantity"
											placeholder="Product Quantity *">
										<div *ngIf=" Submitted && addProduct.controls.quantity.errors"><code
												style="color: red;">Give Product Quantity</code></div>
									</div>
									<div class="form-group">

										<label class="text-secondary ml-2 font-weight-bold">Category</label>
										<select input type="text" class="form-control" formControlName="category"
											id="country" required [(ngModel)]="product.category.categoryName"
											name="country">
											<option value="" disabled>Category *</option>
											<option *ngFor="let c of category" [value]="c">{{c}}</option>
										</select>
										<div *ngIf=" Submitted && addProduct.controls.category.errors"><code
												style="color: red;">Category required</code></div>
									</div>


									<div class="form-group">
										<label class="text-secondary ml-2 font-weight-bold">Image</label>
										<input type="text" class="form-control" id="image" formControlName="image" required
											[(ngModel)]="product.productImage" name="image">
										<div *ngIf=" Submitted && addProduct.controls.image.errors"><code
												style="color: red;">Image url required</code></div>
									</div>

									<br>
									<div align="center" class="form-group col-md-16 mx-auto">
										<button type="submit" align="center" class="btn btn-dark">Add Product</button>
									</div>
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>


</body>