body{
  
    background: url("https://static-cse.canva.com/blob/140234/Rainbow-Gradient-Pink-and-Purple-Zoom-Virtual-Background.png");
    background-size: 100%;
    background-position: 100%;
    /* width: 100%;
    height:100%; */
  }