<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Sign up Form with Icons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form (ngSubmit)="login()" class="box" [formGroup]="addlogin">

                    <h1> Sign In</h1>
                    <p class="text-muted">Please fill in below to sign in !!</p>
                    <div class="form-group">
                        <label for="email"></label>

                        <input type="text" formControlName="email" placeholder=" enter email*" name="email"
                            class="form-control" [(ngModel)]="customer.email" id="email">
                        <div *ngIf=" Submitted && addlogin.controls.email.errors"><code style="color: white;"  >Give email</code></div>
                    </div>
                    <div class="form-group">
                        <label for="password"></label>

                        <input type="password" formControlName="password" name="password"
                            placeholder=" enter password*" class="form-control" required
                            [(ngModel)]="customer.password" id="password">
                        <div *ngIf=" Submitted && addlogin.controls.password.errors"><code style="color: white;">Give password</code></div>
                    </div>
                    <a class="forgot text-muted" href="#">Forgot password?</a> <input type="submit" name=""
                        value="Login" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><span><i
                                            class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><span><i
                                            class="fab fa-twitter"></i></span></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><span><i class="fab fa-google-plus">
                                        </i></span></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>