


<nav align='center' class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online shopping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
        
          <a class="nav-link active" routerLink="/adminhome">Produts</a>
        
        
          <a class="nav-link active" routerLink="/address">Address</a>
        
        
        <a routerLink="/address">| Address</a> 
        <a routerLink="/createproduct"  > | Add Product</a> 
        <a routerLink="/searchcustomer" > | View Customers</a> 
        <a routerLink="/product" > | View Products</a> 
        <a routerLink="/searchorder">| View Orders</a> 
       
        <a routerLink="/adminlogin"> | Admin Login</a>
        <a routerLink="/adminlogout" > | Logout</a> 
       



    </div>
  </nav>
 