<!-- Footer Start
   <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Onliine shopping</p>
                        <p><i class="fa fa-envelope"></i>online.shopping@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+917083**</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>&nbsp;
                            <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;
                            <a href=""><i class="fab fa-linkedin-in"></i></a>&nbsp;
                            <a href=""><i class="fab fa-instagram"></i></a>&nbsp;
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="#">Pyament Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container">
<div class="navbar-footer">
<label class="active"></label>
</div>
<ul class="nav navbar-nav navbar-right">
<li><a href="" id="b1">&copy;Online Shopping 2021</a></li>
</ul>

</div>
</nav> --> -->



<div class="container-fluid"> <output class="bg-white shadow-sm">
    <footer class="section-footer border-top">
        <div class="container-fluid">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md-4">
                        <article class="mr-3"> <img src="" class="logo-footer">
                            <p class="mt-3 description">Some short text about company like You might remember the Dell computer commercials in which a youth reports this exciting news to his friends.</p>
                            <div> <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#" data-abc="true"><i class="fab fa-facebook-f"></i></a> <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#" data-abc="true"><i class="fab fa-instagram"></i></a> <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#" data-abc="true"><i class="fab fa-youtube"></i></a> <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#" data-abc="true"><i class="fab fa-twitter"></i></a> </div>
                        </article>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">About</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#" data-abc="true">About us</a></li>
                            <li> <a href="#" data-abc="true">Services</a></li>
                            <li> <a href="#" data-abc="true">Terms & Condition</a></li>
                            <li> <a href="#" data-abc="true">Our Blogs</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">Services</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#" data-abc="true">Help center</a></li>
                            <li> <a href="#" data-abc="true">Money refund</a></li>
                            <li> <a href="#" data-abc="true">Terms and Policy</a></li>
                            <li> <a href="#" data-abc="true">Open dispute</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">For users</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#" data-abc="true"> User Login </a></li>
                            <li> <a href="#" data-abc="true"> User register </a></li>
                            <li> <a href="#" data-abc="true"> Account Setting </a></li>
                            <li> <a href="#" data-abc="true"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-2 col-md-2">
                        <h6 class="title">Our app</h6> <a href="#" class="d-block mb-2" data-abc="true"><img class="img-responsive" src="https://i.imgur.com/nkZP7fe.png" height="40"></a> <a href="#" class="d-block mb-2" data-abc="true"><img class="img-responsive" src="https://i.imgur.com/47q2YGt.png" height="40" width="123"></a>
                    </aside>
                </div>
            </section>
            <section class="footer-copyright border-top">
                <p class="float-left text-muted"> © 2019 Talkdesk All rights resetved </p>
                <p target="_blank" class="float-right text-muted"> <a href="#" data-abc="true">Privacy &amp; Cookies</a> &nbsp; &nbsp; <a href="#" data-abc="true">Accessibility</a> </p>
            </section>
        </div>
    </footer>
</output> </div>
